{% extends 'auxilioavaliacao/layout.html' %}

{% block title %} Atividade {% endblock %}

{% block content %}
<div id="assignment">
    <h1>{{ assignment.title }}</h1>
    <img id="assignment_template" src="{{ assignment.template_image.url }}" alt="Template da atividade">

    <div id="fields">
        <h2> Campos </h2>
        
        <a href="{% url 'auxilioavaliacao:newfield' assignment.id %}">
            <button> Adicionar novo campo </button>
        </a>
        
        <ul>
            {% for field in assignment.fields.all %}
                <a href="{% url 'auxilioavaliacao:field' assignment.id field.id %}">
                    <li>
                        <h3> {{ field.label }} </h3>
                        <img src="{{ field.image.url }}" alt="Imagem do campo">
                    </li>
                </a>
            {% empty %}
                <p> Nenhum campo </p>
            {% endfor %}
        </ul>

    <div id="submissions"></div>
        <h2> Entregas </h2>

        <a href="{% url 'auxilioavaliacao:newsubmission' assignment.id %}">
            <button> Adicionar nova entrega </button>
        </a>

        <ul>
            {% for submission in assignment.submissions.all %}
                <a href="{% url 'auxilioavaliacao:submission' assignment.id submission.id %}">
                    <li>
                        <h3> {{ submission.studentId }} </h3>
                        <img src="{{ submission.image.url }}" alt="Imagem da entrega">
                    </li>
                </a>
            {% empty %}
                <p> Nenhuma entrega </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}