{% extends 'auxilioavaliacao/layout.html' %}

{% block content %}
<div id="field">
    <a href="{% url 'auxilioavaliacao:assignment' assignment.id %}">{{ assignment.title }}</a>

    <h2>{{ field.label }}</h2>
    <img src="{{ field.image.url }}" alt="{{ region.label }}">

    <div id="answers">
        <h3> Respostas dos alunos </h3>
        <ul>
            {% for answer in answers %}
                <a href="{% url 'auxilioavaliacao:submission' assignment.id answer.submission.id %}">
                    <li>
                        <h4>{{ answer.submission.studentId }}</h4>
                        <img src="{{ answer.image.url }}" alt="Resposta do aluno">
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}