{% extends 'auxilioavaliacao/layout.html' %}

{% block title %} Auxílio Avaliação {% endblock %}

{% load static %}

{% block style_imports %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div id="home">
    <div id="assignments">
        <h2> Atividades </h2>

        <a href="{% url 'auxilioavaliacao:newassignment' %}">
            <button> Nova atividade </button>
        </a>

        <ul>
            {% for assignment in assignments %}
                <li>
                    <a href="{% url 'auxilioavaliacao:assignment' assignment.id %}">
                        <h3>{{ assignment.title }}</h3>
                        <img class="assignment-preview" src="{{ assignment.template_image.url }}" alt="Imagem do template da atividade">
                    </a>
                </li>
            {% empty %}
                <p> Nenhuma atividade </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}