{% extends 'auxilioavaliacao/layout.html' %}

{% block title %} Imagem {% endblock %}

{% load static %}

{% block style_imports %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}

{% block content %}
<div id="image">
    <img src="{{ image.file.url }}" alt="">

    <div id="regions">
        <h2> Regiões </h2>
        
        <a href="{% url 'auxilioavaliacao:newregion' image.id %}">
            <button> Adicionar nova região </button>
        </a>
        
        <ul>
            {% for region in image.region_set.all %}
                <li>
                    <h3> {{ region.label }} </h3>
                    <img src="{{ region.file.url }}" alt="">
                </li>
            {% empty %}
                <p> Nenhuma região </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}