img.document {
  border: 2px solid black;
}

/* ============== */
/* HOME */
div.assignment-list > ul {
  display: flex;

  list-style: none;
}

div.assignment-list > ul > li {
  flex: 1 1 auto;
  max-width: 300px;
}

div.assignment-preview > img {
  width: 100%;
  height: auto;
}

/* =================== */
/* ASSIGNMENT */
div.assignment img#template-image {
  width: 40%;
  height: auto;
}

div.assignment > div {
  width: 40%;
  margin: 10px;
  padding: 10px;
}

div.assignment-fields {
  border: 2px solid black;
}

div.assignment-fields img.document-crop {
  max-width: 100%;
  height: auto;

  border: 2px solid black;
}

div.selection-tool > div {
  width: 90%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  border: 2px solid black;
}

div.assignment div.assignment-submissions {
  border: 2px solid black;
}

div.assignment div.submission-list  img.document{
  max-width: 90%;
  height: auto;
}

div#edit-answer {
  display: flex;
}
