img.document-image {
  border: 2px solid black;
}

img#main-document {
  width: auto;
  max-height: 100%;
  box-sizing: border-box;
}

div.document-list > ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

div.document-list > ul > li {
  flex: 1 1 auto;
  max-width: 300px;
}

div.document-preview > img {
  width: 100%;
  height: auto;
}

img.region-image {
  max-width: 100%;
  height: auto;

  border: 2px dashed black;
}

/* =================== */
/* ASSIGNMENT */

div.assignment {
  display: flex;
  flex-wrap: wrap;
}

div.assignment > div {
  flex: 1 1 auto;
  max-width: 40%;
  height: 75vh;
  margin: 10px;
  padding: 10px;

  overflow-y: scroll;
  overflow-x: hidden;

  border: 1px solid black;
}

@media (max-width: 1600px) {
  div.assignment > div {
    max-width: 80%;
  }
}

div.new-field div.selection-tool {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  border: 1px solid black;
}

/*
div.assignment > div {
  width: 40%; 
  margin: 10px;
  padding: 10px;
}

div.assignment-fields {
  border: 2px solid black;
}

div.selection-tool > div {
  width: 90%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  
  border: 2px solid black;
}

div.assignment div.assignment-submissions {
  border: 2px solid black;
}
*/

/* =================== */
/* ASSIGNMENT */

div.submission {
  display: flex;
  flex-wrap: wrap;
}

div.submission > div {
  flex: 1 1 auto;
  max-width: 40%;
  height: 75vh;
  margin: 10px;
  padding: 10px;

  overflow-y: scroll;
  overflow-x: hidden;

  border: 1px solid black;
}

@media (max-width: 1600px) {
  div.submission > div {
    max-width: 80%;
  }
}
