/* ==================== */
/* Home */

div#home img.assignment-preview {
    height: 17rem;
    width: auto;

    border-top: 2px solid black;
}

div#home div#assignments > ul {
    display: flex;
    
    list-style: none;
}

div#home div#assignments > ul > li {
    flex: 0 1 auto;
    margin: 1.2rem 1.2rem;

    text-align: center;
    border: 2px solid black;
}

/* ================== */
/* Image */

div#image img {
    max-width: 500px;
    height: auto;

    border: 2px solid black;
}

/* ================== */
